@charset "UTF-8";

.kyj_selected {
  background-color: #c0c0c0; /* 약간 흐릿한 회색 배경색 */
  border-radius: 5px; /* 모서리를 둥글게 */
  padding: 5px 10px; /* 여백 설정 */
  color: #333; /* 텍스트 색상 */
  font-weight: bold; /* 텍스트 굵게 */
  text-decoration: none; /* 링크 텍스트의 밑줄 제거 */
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.kyj_selected:hover {
  background-color: #a9a9a9; /* 호버 시 약간 진한 회색 */
  color: #fff; /* 호버 시 텍스트 색상을 흰색으로 변경 */
}
.ky{
	 width: 1600px;
	 margin:0 auto;
 }
 
  .walk_cate li a {
    display: inline-block;
    padding: 8px 12px; /* 여백을 줄임 */
    border: 2px solid transparent;
    border-radius: 20px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    }
    
    .walk_cate a:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }
    
    .kyj_walk{
		height:100%;
	}
	.walk_course > li{
		display:inline;
	}
	
	